# ================================
#    miscellaneous
# ================================

# Project Compiler Shellscript
[C|c]ompile.ps1
PSCAT.ps1



# Text Editors and IDEs
# ---------------------

# Visual Code
.vscode



# Standard GitIgnore:
# ---------------------

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/